.App{
  text-align: center;
}

ul{
  padding: 0;
}

img{
  width: 150px; 
  border-radius: 50%; 
  border: 1rem solid rgb(236, 105, 105);
  transition: .5s ease;
}

img:hover{
  opacity: 0.5;
}

img + p{
  color: palevioletred;
  text-decoration: underline;
  text-decoration-color: palevioletred;
  text-underline-position: below;
}

li{
  list-style-type: none;
}